
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Architects Daughter', cursive;
    background-color: #ffeaa7;
  }
  
  
  .container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .heading h1 {
    font-size: 24px;
    color: #333;
  }
  
  
  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #3e8e41;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  
  ul li:hover {
    background-color: #f5f5f5;
  }
  
  
  .delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-btn:hover {
    background-color: #e91e63;
  }
  
  .edit-btn {
    background-color: #03a9f4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .edit-btn:hover {
    background-color: #007ac1;
  }
  
  .done {
    text-decoration: line-through;
    color: #666;
  }
  